<!DOCTYPE html>
<html>

<head>
    <title>Tasks</title>
    <!-- Mobile viewport optimized -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Bootstrap CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-glyphicons.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/css/styles.css" rel="stylesheet">
    <!--<link href="/static/css/jquery-ui.min.css" rel="stylesheet">-->
    <link href="/static/css/sidebar.css" rel="stylesheet">
    <link href="/static/css/sidebar-bootstrap.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <!-- Include Modernizr in the head, before any other Javascript -->
    <!--<script src="/static/js/modernizr-2.6.2.min.js"></script>-->
    <!-- All Javascript at the bottom of the page for faster page loading -->
    <script src="/static/js/jquery.min.js"></script>
    <!--<script src="/static/js/jquery-ui.min.js"></script> ENABLE WHEN DUE DATE FEATURE IS REQUIRED-->
    <!-- If no online access, fallback to our hardcoded version of jQuery
		<script>window.jQuery || document.write('<script src="/static/js/jquery-1.8.2.min.js"><\/script>')</script>
		-->
    <!-- Bootstrap JS -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Custom JS -->
    <script src="/static/js/script.js"></script>
    <script src="/static/js/hammer.min.js"></script>
    <script src="/static/js/sidebar.js"></script>
</head>

<body>
    <span id="tasks">
    <!-- The navigation bar-->
    
    <a v-if="notificationVisible" v-on:click="hide"><div id = "noti" class="notification"><span id="message"><p id="actlMsg">${notification}</p></span></div>
    </a>
    <nav class="navbar navbar-default navbar-fixed-top mainHeader">
        <div class="container-fluid">
            <div class="navbar-header">
                <span id="icons">
                    <button  data-original-title="Search" data-placement="bottom" data-toggle="tooltip" title=""  id="searchFormBtn" class="btn btn-action glyphicon glyphicon-search"  type="button"></button>
                    <template v-if="selectedCategoryName">
                   <a v-on:click="deleteCategory(selectedCategoryName)"> <button  data-original-title="Delete Category" data-placement="bottom" data-toggle="tooltip" title="" class="btn btn-action glyphicon glyphicon-trash"  type="button"></button></a>
                   <button  data-original-title="Edit Category" data-placement="bottom" data-toggle="tooltip" id="editCatFrmBtn" title="" class="btn btn-action glyphicon glyphicon-pencil"  type="button" @click="toggleEditCategoryForm()"></button>
                  </template>
                   <a @click="logout()"> <button  data-original-title="Logout" data-placement="bottom" data-toggle="tooltip" title="Logout" class="btn btn-action glyphicon glyphicon-off"  type="button"></button></a>
                </span>
                <p class="navbar-brand">
                    ${navigation}
                </p>
                <template v-if="categoryEdit">
                    <form method="POST" id="EditForm" v-on:submit.prevent="onSubmit">
                        <input type="text" name="catname" placeholder="new category name" v-model="newCategoryName">
                        <button type="submit" v-on:click="updateCategory(selectedCategoryName, newCategoryName)" class="btn btn-default"> Submit </button>
                    </form>
                </template>
                <form action="/search/" method="POST" class="hidden" id="SearchForm">
                    <input type="text" name="query" placeholder="Search">
                    <input type="submit" value="Submit" class="btn btn-default" />
                </form>
            </div>
        </div>
    </nav>
    <!-- SIDEBAR -->
    <div data-sidebar="true" class="sidebar-trigger">
        <a class="sidebar-toggle" href="">
            <span class="glyphicon glyphicon-align-justify"></span>
        </a>
        <div class="sidebar-wrapper sidebar-default">
            <div class="sidebar-scroller">
                <ul class="sidebar-menu">
                    <li class="sidebar-group"><span>Tasks</span>
                        <ul class="sidebar-group-menu">
                            <li class="sidebar-item">
                                <a v-on:click="showPendingTasks" v-bind:class="{active:(selectedTaskTypeName=='pending')}"><span class="glyphicon glyphicon-tasks"></span> <span class="nav-item">Pending</span></a>
                            </li>
                            <li class="sidebar-item">
                                <a v-on:click="showCompletedTasks" v-bind:class="{active:(selectedTaskTypeName=='completed')}"><span class="glyphicon glyphicon-check"></span>  <span class="nav-item"> Completed</span></a>
                            </li>
                            <li class="sidebar-item">
                                <a v-on:click="showDeletedTasks" v-bind:class="{active:(selectedTaskTypeName=='deleted')}"><span class="glyphicon glyphicon-trash"></span>  <span class="nav-item"> Deleted</span></a>
                            </li>
                            <hr>
                            <li class="sidebar-item">
                                <h5> Categories</h5>
                                <span id="categoryForm">
                                 <form  method="POST" v-on:submit.prevent="OnSubmit">
                                 <span> 
				         <input type="text" name="category" width="50px" v-model="category.categoryName">
				         <button v-on:click="addCategory" class="btn btn-primary">Add</button>
                                 </span>
                                </form>
                                </span>
                            </li>
                            <template v-if="categories.length">
                                <template v-for="category in categories">
                                    <li class="sidebar-item">
                                        <a v-on:click="taskByCategory(category.categoryName)" v-bind:class="{active: (selectedCategoryName==category.categoryName)}">
                                            <span class="nav-item"> ${category.categoryName}</span> <span class="badge pull-right">${category.taskCount}</span></a>
                                    </li>
                                </template>
                            </template>
                            <template v-else>
                                <li class="sidebar-item">
                                    <a> No categories present!</a>
                                </li>
                            </template>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--end mainHeader -->
    <button class=" btn-danger btn glyphicon glyphicon-plus floating-action-icon floating-action-icon-add"></button>
    <!-- Add note modal -->
    <div class="modal fade " id="addNoteModal" tabindex="-1" role="dialog" aria-labelledby="newNoteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="newNoteLabel"><span class="glyphicon glyphicon-pencil"></span> New Task</h4>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data" method="POST" v-on:submit.prevent="onSubmit">
                        <div class="form-group">
                            <input type="text" name="title" class="form-control" id="add-note-title" v-model="task.title" placeholder="Title">
                            <input class="hidden" name="CSRFToken" value="" />
                            <input class="hidden" name="id" v-model="task.id" />
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="content" id="add-note-content" placeholder="Content" rows="10" v-model="task.content"></textarea>
                            <a id="toggleAddFileGrp">Add File</a>
                            <span id="file-group" class="hidden">
                            File: <input type="file" name="uploadfile" />
                        </span>
                            <!--Date: <input id="datepicker" name="dueDate"/>-->
                            <br> Priority:
                            <input type="radio" name="priority" value="3" v-model="task.priority" /> High
                            <input type="radio" name="priority" value="2" v-model="task.priority" /> Medium
                            <input type="radio" name="priority" value="1" v-model="task.priority" /> Low
                            <br>
                            <input type="checkbox" v-model="task.ishidden" name="hide" id="hideChk"> Hide from timeline
                        </div>
                        Category:
                        <select name="category" class="dropdown" v-model="task.category">
				<template v-for="category in categories">
		                        <option v-bind:value="category.categoryName"> ${ category.categoryName } </option>
	                        </template>
	                    </select>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <template v-if="isEditing">
                        <button type="button" class="btn btn-primary" v-on:click="UpdateTask(task)">Update Task</button>
                    </template>
                    <template v-else>
                        <button type="button" class="btn btn-primary" v-on:click="AddTask(task)">Add Task</button>
                    </template>
                </div>
            </div>
        </div>
    </div>
    <div class="timeline">
        <template v-if="!isLoggedIn">
            <div class="note">
                <p class="noteHeading ">Login </p>
                <div class="form-group">
                    <form v-on:submit.prevent="onSubmit">
                        <input type="text" name="username" class="loginbutton" placeholder="Username" v-model="userLogin.username" />
                        <input type="password" name="password" class="loginbutton" placeholder="Password" v-model="userLogin.password" />
                        <input type="submit" value="Login" class="btn btn-primary" @click="login" />
                    </form>
                </div>
            </div>
            <div class="note">
                <p class="noteHeading ">Sign up </p>
                <div class="form-group">
                    <form  v-on:submit.prevent="onSubmit">
                        <input type="text" name="username" class="loginbutton" placeholder="Username" v-model="userSignup.username" />
                        <input type="password" name="password" class="loginbutton" placeholder="Password" v-model="userSignup.password" />
                        <input type="email" name="email" class="loginbutton" placeholder="demo@demo.com" v-model="userSignup.email"/>
                        <input type="submit" value="Signup" class="btn btn-primary"  @click="signup()" />
                    </form>
                </div>
            </div>
        </template>
        <template v-else>
            <span v-if="tasks.length"> 
                <span v-for="(task, taskIndex) in tasks">
                    <div class="note" v-bind:id="task.id">
                        <p class="noteHeading ">${task.title}</p> 
                        <span class="toggle glyphicon glyphicon-resize-full" v-on:click="toggleContent(task)"></span>
                        <span class="noteContent" v-show="task.showComment">
                                ${task.content} 
                                <template v-if="task.completed">${task.completedmsg}</template>
                                <div class="commentslist" v-for="(comment, commentIndex) in task.comments">
                                        <div class="comment">
                                            <span>${comment.content}</span>
                                            <span class="timestamp">${comment.author} ${comment.created}</span>
                                            <a v-on:click="deleteComment(taskIndex, commentIndex, task.id, comment.id)">
                                                <span class="glyphicon glyphicon-trash timestamp"></span>
                                            </a>
                                        </div>
                                </div>
                                <div class="comment">
                                    <form method="POST" v-on:submit.prevent="onSubmit">
                                        <textarea rows="2" cols="75" name="commentText" placeholder="Add Comment" v-model="comment.content"></textarea>
                                        <button class="btn btn-primary" v-on:click="addComment(comment, taskIndex)">Add Comment</button>
                                    </form>
                                </div>
                        </span>
                        <span class="notefooter">
                            <ul class="menu">
                                <li role="presentation">Priority: ${task.priority}</li>
                                <li role="presentation">
                                    <span class="glyphicon glyphicon-time"></span> ${task.created}</li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1">
                                        <span class="glyphicon glyphicon-lock"></span></a>
                                </li>
                                <li role="presentation">
                                    <template v-if="navigation!='Deleted'">
                                        <a role="menuitem" tabindex="-1" v-on:click="TrashTask(taskIndex, task.id, task.category)">
                                            <span class="glyphicon glyphicon-trash"></span></a>
                                    </template>
                                    <template v-if="navigation=='Deleted'">
                                        <a role="menuitem" tabindex="-1" v-on:click="RestoreTask(taskIndex, task.id, task.category)">
                                            <span class="glyphicon glyphicon-inbox"></span></a>
                                    </template>
                                </li>
                                <li role="presentation">
                                    <template v-if="navigation=='Completed'">
                                        <a role="menuitem" tabindex="-1" v-on:click="inComplete(taskIndex, task.id, task.category)">
                                            <span class="glyphicon glyphicon-eye-close"></span>
                                        </a>
                                    </template>
                                    <template v-if="navigation!='Completed' && navigation!='Deleted'">
                                        <a role="menuitem" tabindex="-1" v-on:click="CompleteTask(taskIndex, task.id, task.category)">
                                            <span class="glyphicon glyphicon-check"></span></a>
                                    </template>
                                </li>
                                <template v-if="navigation!='Deleted' && navigation!='Completed'">
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" v-on:click="edit(taskIndex, task.id)">
                                            <span class="glyphicon glyphicon-pencil"></span></a>
                                    </li>
                                </template>
                                <li role="presentation">
                                    <a @click="taskByCategory(task.category)"> ${task.category}</a>
                                </li>
                            </ul>
                        </span>
                    </div>
            </span>
            </span>
            <span v-else>
                    <div class="note">
                        <p class="noteHeading">No Tasks here</p>
                        <p class="notefooter">Create new task
                            <button class="floating-action-icon-add" >here </button>
                        </p>
                    </div>
                </span>
        </template>
        </div>
    </span>
    <footer class="footer">
        Made in India with <span class="glyphicon glyphicon-heart"></span> by <a href="http://github.com/thewhitetulip">@thewhitetulip</a>
    </footer>
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/vue-resource.js"></script>
    <script src="/static/js/app.js"></script>
</body>

</html>
