    {{template "_head.html" .}}

    <div class="timeline">
        <template v-if="!isLoggedIn">
            <div class="note">
                <p class="noteHeading ">Login </p>
                <div class="form-group">
                    <form v-on:submit.prevent="onSubmit">
                        <input type="text" name="username" class="loginbutton" placeholder="Username" v-model="userLogin.username" />
                        <input type="password" name="password" class="loginbutton" placeholder="Password" v-model="userLogin.password" />
                        <input type="submit" value="Login" class="btn btn-primary" @click="login" />
                    </form>
                </div>
            </div>
            <div class="note">
                <p class="noteHeading ">Sign up </p>
                <div class="form-group">
                    <form  v-on:submit.prevent="onSubmit">
                        <input type="text" name="username" class="loginbutton" placeholder="Username" v-model="userSignup.username" />
                        <input type="password" name="password" class="loginbutton" placeholder="Password" v-model="userSignup.password" />
                        <input type="email" name="email" class="loginbutton" placeholder="demo@demo.com" v-model="userSignup.email"/>
                        <input type="submit" value="Signup" class="btn btn-primary"  @click="signup()" />
                    </form>
                </div>
            </div>
        </template>
        <template v-else>
            <span v-if="tasks.length"> 
                <span v-for="(task, taskIndex) in tasks">
                    <div class="note" v-bind:id="task.id">
                        <p class="noteHeading ">${task.title}</p> 
                        <span class="toggle glyphicon glyphicon-resize-full" v-on:click="toggleContent(task)"></span>
                        <span class="noteContent" v-show="task.showComment">
                                <span v-html="task.html_content"> </span>
                                <template v-if="task.completed">${task.completedmsg}</template>
                                <div class="commentslist" v-for="(comment, commentIndex) in task.comments">
					<comment :comment="comment" :cindex="commentIndex" :taskid="task.id" :taskindex="taskIndex"></comment>
                                </div>
				<add-comment :comment="comment" :taskindex="taskIndex"> </add-comment>
                        </span>
                        <span class="notefooter">
                            <ul class="menu">
                                <li role="presentation">Priority: ${task.priority}</li>
                                <li role="presentation">
                                    <span class="glyphicon glyphicon-time"></span> ${task.created}</li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1">
                                        <span class="glyphicon glyphicon-lock"></span></a>
                                </li>
                                <li role="presentation">
                                    <template v-if="navigation!='Deleted'">
                                        <a role="menuitem" tabindex="-1" v-on:click="TrashTask(taskIndex, task.id, task.category)">
                                            <span class="glyphicon glyphicon-trash"></span></a>
                                    </template>
                                    <template v-if="navigation=='Deleted'">
                                        <a role="menuitem" tabindex="-1" v-on:click="RestoreTask(taskIndex, task.id, task.category)">
                                            <span class="glyphicon glyphicon-inbox"></span></a>
                                    </template>
                                </li>
                                <li role="presentation">
                                    <template v-if="navigation=='Completed'">
                                        <a role="menuitem" tabindex="-1" v-on:click="inComplete(taskIndex, task.id, task.category)">
                                            <span class="glyphicon glyphicon-eye-close"></span>
                                        </a>
                                    </template>
                                    <template v-if="navigation!='Completed' && navigation!='Deleted'">
                                        <a role="menuitem" tabindex="-1" v-on:click="CompleteTask(taskIndex, task.id, task.category)">
                                            <span class="glyphicon glyphicon-check"></span></a>
                                    </template>
                                </li>
                                <template v-if="navigation!='Deleted' && navigation!='Completed'">
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" v-on:click="edit(taskIndex, task.id)">
                                            <span class="glyphicon glyphicon-pencil"></span></a>
                                    </li>
                                </template>
                                <li role="presentation">
                                    <a @click="taskByCategory(task.category)"> ${task.category}</a>
                                </li>
                            </ul>
                        </span>
                    </div>
            </span>
            </span>
            <span v-else>
                    <div class="note">
                        <p class="noteHeading">No Tasks here</p>
                        <p class="notefooter">Create new task
                            <button class="floating-action-icon-add" >here </button>
                        </p>
                    </div>
                </span>
        </template>
        </div>
    </span>
{{template "_foot.html" .}}
